* {
    margin: 0;
    box-sizing: border-box;
}

.app {
    margin-top: 30px;
}

.app__header {
    color: white;
    text-align: center;
}

.posts__section {
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.pages__section {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.pages__section > button {
    margin-left: 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}

.pages__section > p {
    color: white;
    padding-left: 15px;
    font-weight: 500;
    font-size: 20px;
}

.blog__posts {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.posts {
    width: 90%;
}

.post {
    background-color: rgba(56, 53, 53, 0.76);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 30px;
}

.post > p {
    padding: 5px;
}

.post > p:nth-child(1) {
    color: #fff;
}

.post > p:nth-child(2) {
    color: gray;
}

.post > p:nth-child(3) {
    color: gray;
}


@media screen and (max-width: 600px) {
    .app {
        margin-left: auto;
        margin-right: auto;
    }
    .app__header {
        font-size: 25px;
    }
    .posts {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}